<ion-view title="{{moveName}}" hide-tabs="'true'">
    <ion-content>
        <!--
		 <ion-refresher
		 pulling-text="Pull to refresh..."
		 on-refresh="doRefresh()">
		 </ion-refresher>
        <ion-list>
        	<ion-item ng-repeat="item in clips" class="item-thumbnail-left" ng-click='download(item._id, item.image, item.local, $index)'>        	
            <img img-cache-src ic-src="{{item.thumb}}">
            <h2>{{item.name}}</h2>
            <p>{{item.desc}}</p>
            <i ng-class="{'ion-play' : item.local, 'ion-ios-cloud-download-outline' : !item.local}"></i>         
            </ion-item>
        </ion-list>
       	<div class="list">        	    
       		<div ng-repeat-start="(move, cps) in clips" class="item item-divider">{{move}}</div>
       		<a ng-repeat="item in cps" class="item item-thumbnail-left" ng-click='download(item._id, item.image, item.local, $index)'>        	
	            <img img-cache-src ic-src="{{item.thumb}}">
	            <h2>{{item.name}}</h2>
	            <p>{{item.desc}}</p>
	            <i ng-class="{'ion-play' : item.local, 'ion-ios-cloud-download-outline' : !item.local}"></i> 
           	</a>
           	<div ng-repeat-end></div>            
       	</div>      
       	  <div class="row">
				 	<div class="col">.col</div>
					<div class="col">.col</div>
					<div class="col">.col</div>
					<div class="col">.col</div>
					<div class="col">.col</div>
				</div>       
				 <div class="row">
				 	
				 	<div class="col"> <h2>{{item.name}}</h2></div>
					<div class="col"><p>{{item.desc}}</p></div>
					<div class="col"><i ng-class="{'ion-play' : item.local, 'ion-ios-cloud-download-outline' : !item.local}"></i> </div>
										
				</div>          
			<a collection-repeat="item in clips" class="item item-thumbnail-left" ng-click='download(item._id, item.image, item.local, $index)'>
		 
		 <div class="list" id="idForJS">
		 <a collection-repeat="item in clips" class="item item-thumbnail-left" ng-click='play(item.image)'>
		 <img img-cache-src ic-src="{{item.thumb}}">
		 
		 <div class="row">
		 <div class="col col-top"><h2>{{item.name}}</h2></div>

		 <div class="col col-top col-75"><h2>{{item.name}}</h2></div>
		 <div class="col col-top" ng-hide="item.local"><i class="ion-ios-cloud-download-outline larger"></i></div>
		 <div class="col col-top"><i ng-class="{'ion-play' : item.local, 'ion-ios-cloud-download-outline' : !item.local}" class="larger"></i></div>

		</div>
		<div class="row">
			<div class="col col-top"><p>{{item.desc}}</p></div>
		</div>
		</a>
		</div>
		-->
		<ion-list can-swipe="listCanSwipe" id="ClipsScopeID">
			<ion-item ng-repeat="item in clips" class="item-thumbnail-left" ng-click='play($index)'>
				<img img-cache-src ic-src="{{item.thumb}}">
				<div class="row">
					<div class="col col-top col-75"><h2>{{item.name}}</h2></div>
					<div class="col col-top" ng-show="item.favorite">
						<i class="ion-ios-heart-outline assertive">
						</i>
					</div>								
				</div>
				<div class="row">
					<div class="col col-top"><p>{{item.desc}}</p></div>
				</div>
				<ion-option-button class="button-assertive ion-ios-heart" ng-click="updateFavorite($index)">
				</ion-option-button>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll
  		on-infinite="loadMore()" ng-if="!noMoreItemsAvailable"   		
  		distance="1%">
		</ion-infinite-scroll>
    </ion-content>
</ion-view>