<ion-view title="我的最爱">
		<ion-nav-buttons side="right">
      <button class="button" ng-click="openPopover($event)" ng-hide="!search.selected_player && !search.selected_move && clips.length == 0">
        <i class="ion-funnel basketball" ng-show="search.selected_player || search.selected_move">
				</i>筛选
      </button>
    </ion-nav-buttons>		   
    <ion-content>
    	<div ng-show="!filtered || filtered.length == 0">
          <h3 class="empty-message">无记录</h3>
   		</div>   		
      <ion-list can-swipe="listCanSwipe" id="FavoriteScopeID">
			<ion-item ng-repeat="item in filtered = (clips | orderBy: 'timestamp': true | filter: { move: search.selected_move, player: search.selected_player })" class="item-thumbnail-left" ng-click='play($index)'>
				<img img-cache-src ic-src="{{item.thumb}}">
				<div class="row">
					<div class="col col-top col-75"><h2>{{item.name}}</h2></div>
					<div class="col col-top" ng-show="item.favorite">
						<i class="ion-ios-basketball basketball">
						</i>
					</div>								
				</div>
				<div class="row">
					<div class="col col-top"><p>{{item.desc}}</p></div>
				</div>				
				<ion-option-button class="button-assertive ion-close-circled" ng-click="removeFavorite($index)">					
				</ion-option-button>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll
  		on-infinite="loadMore()" ng-if="!noMoreItemsAvailable"   		
  		distance="1%">
		</ion-infinite-scroll>
    </ion-content>
</ion-view>

<!--
<button class="button" ng-click="openPopover($event)" ng-hide="!search.selected_player && !search.selected_move && clips.length == 0">
        <i class="ion-funnel assertive" ng-show="search.selected_player || search.selected_move">
				</i>筛选
      </button>


	<ion-item ng-repeat="item in clips | filter: { moves: by_move, players: by_player}" class="item-thumbnail-left" ng-click='play($index)'>
<div class="list">        	           	
		<a ng-repeat="item in clips" class="item item-thumbnail-left" ng-click='play(item.image)'>        	
        <img img-cache-src ic-src="{{item.thumb}}">	            	            
       	<div class="row">
       		<div class="col col-top col-75"><h2>{{item.name}}</h2></div>
       		
        </div>				
		<div class="row">  					
			<div class="col col-top"><p>{{item.desc}}</p></div>					
		</div>
   	</a>                      
</div>
-->
