<ion-view title="{{playerName}}" hide-tabs="'true'">
    <ion-content>       
		<ion-list>
			<ion-item ng-repeat="item in moves|orderBy:'clipQty':true" class="item-thumbnail-left" ng-click="showClips(item.name)">
				<img img-cache-src-move ic-src="{{item.image}}">			
				<div class="row">
					<div class="col col-top col-75 margin-top-1em"><h2>{{item.name}}</h2></div>									
					<span class="badge badge-assertive margin-top-1em">				
					{{item.clipQty}}
				</span>	             								
				</div>
				
			</ion-item>
		</ion-list>
    </ion-content>
</ion-view>

 <!--
		ng-class="{'badge-royal' : item.clipQty >=2 && item.clipQty < 3, 
						           'badge-assertive' : item.clipQty >= 3,
						           'badge-balanced': item.clipQty < 2 
				
						          }">
-->