<ion-view title="{{catName}}" hide-tabs="true">
    <ion-content>        
        <ion-list>
            <ion-item ng-repeat="item in skills | orderBy: 'level'" class="item-thumbnail-left level" ng-click='play(item)'>
                <img img-cache-src-common ic-src="{{item.thumb}}">
                <div class="row">
                    <div class="col col-top col-75"><h2>{{item.name}}</h2></div>
                    <div class="col col-top col-star" ng-show="item.level==3">                    
                        <i class="ion-ios-star basketball"></i>
                        <i class="ion-ios-star basketball"></i>
                        <i class="ion-ios-star basketball"></i>
                    </div>      
                    <div class="col col-top col-star" ng-show="item.level==2">                    
                        <i class="ion-ios-star basketball"></i>
                        <i class="ion-ios-star basketball"></i>                        
                    </div>  
                    <div class="col col-top col-star" ng-show="item.level==1">                    
                        <i class="ion-ios-star basketball"></i>                        
                    </div>                          
                </div>
                <div class="row">
                    <div class="col col-top"><p>{{item.desc}}</p></div>
                </div>                
            </ion-item>
        </ion-list>      
    </ion-content>
</ion-view>