ion-tabs.tabs-color-active-assertive .tab-item.tab-item-active, .basketball{
  color: #FF4000;
}

.tabs .tab-item .badge.badge-assertive, .badge.badge-assertive, .button.button-assertive {
  background-color: #FF4000; 
}

.empty-message {
  color: #D8D8D8;
  text-align: center;
  margin-top: 60% !important;
}

.item-select select {
  padding: 0 28px 0 0px !important;
}

.popover .item:last-child
{
  border-bottom: 1px solid #ddd !important;
}

.popover .item:first-child
{
  /*border-top: 1px solid #ddd !important;*/
}

.popover-button 
{
  margin-left: 5%;
  margin-right: 5%;  
  width: 90%;
  margin-top: 1.5em;
}

.margin-top-1em
{
    margin-top: 1em !important;
}

.margin-top-05em
{
    margin-top: 0.5em !important;
}

.larger {
    font-size: 20px;
}

.transparent-nav {
  background: none !important;
  border-bottom: none;
  background-color: #FFF !important;
}

.box {
	width: 100%;
	/*position: absolute;*/
	height: 100%;
	top: 0px;
	visibility: visible;
	left: 0%;
	-webkit-transition: none;
	transition: none;
	transform: translate3d(0px, 0px, 0px);
	display: table;
	text-align: center;
	background-color: black;
	background-repeat: no-repeat;
	/*background-position: 40% 0%;*/
	background-position: center 0%;
}

@media (min-height:480px) {
    .box {
    	background-size: auto 368px;
    }
}

@media (min-height:568px) {
    .box {
    	background-size: auto 456px;
    }
}

@media (min-height:627px) {
    .box {
    	background-size: auto 515px;
    }
}

@media (min-height:736px) {
    .box {
    	background-size: auto 624px;
    }
}

@media (min-height:1024px) {
    .box {
    	background-size: auto 912px;
    }
}

.boxLoading {
	background-image: url(../images/oval.svg) !important;	
	background-position: 50% 50% !important;
	background-size: auto !important;
}

.default {
  background-image: url(../images/back.jpg) !important; 
}

image {
	height: 100%;
}

.slider {
	height: 100%;
}

.box h1 {
	display: none;
}

.default h1 {
  display: table-cell;
  vertical-align: middle;
  color: #FFF;
  line-height: 1;
  font-size: 48px;
  font-weight: bold;
}

.hidden {
    display: none;
}