<ion-view title="" hide-tabs="'true'" hide-nav-bar="false">
		<ion-nav-bar ng-hide="hideNavBar">
		  <ion-nav-back-button class="button-icon icon ion-ios-arrow-back" ng-click="goBack()">
		  	Back
		  </ion-nav-back-button>		  
		</ion-nav-bar>    
        <div id="gameArea">
            <canvas id="viewport" class="center" width="0" height="0" ng-click='fullScreen()'></canvas>
            <nav id="toolbar" class="flex-container navbar navbar-default navbar-fixed-bottom">               
                <div id="toolbar-controls" class="flex-container">                     
                    <div class="button-container">                    
                        <a class="button button-icon icon" data-command="toggle"></a>
                    </div>            
                    <div class="slider-container range range-positive">
                        <input type="range" min="0" max="0" class="range">
                    </div>
                    <div class="slider-value-container">
                        
                        <a class="button button-icon icon" ng-class="{'ion-ios-heart' : favorite, 'ion-ios-heart-outline' : !favorite}" ng-click="setFavorite()"></a>
                    </div>
                </div>  
            </nav>
        </div>    
</ion-view>