<ion-view title="所有球员">   
    <ion-content>
        <ion-refresher
            pulling-text="下拉获取更新..."
            on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-repeat="item in players|orderBy:'clipQty':true" class="item-avatar-left" ng-click='showMoves(item._id, item.name)'>
            <img img-cache-src-avatar ic-src="{{item.avatar}}">
            <h2 class="margin-top-05em">{{item.name}}</h2>              
            <span class="badge badge-assertive margin-top-05em">{{item.clipQty}}</span>           
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
