<ion-popover-view>
  <ion-header-bar>
    <h1 class="title">选择条件</h1>
  </ion-header-bar>
  <ion-content>
   	<div class="list">
		 	<label class="item item-input item-select">
		  	<div class="input-label">
		      球员：
		    </div>
	    	<select ng-model="search.by_player">
	    		<option value="">所有</option>
	      	<option ng-repeat="player in data.players" value="{{player._id}}">{{player.name}}</option>
	      </select>
      </label>

		  <label class="item item-input item-select">
		  	<div class="input-label">
		      动作：
		    </div>
	    	<select ng-model="search.by_move">
	    		<option value="">所有</option>
	      	<option ng-repeat="move in data.moves" value="{{move._id}}">{{move.move_name}}</option>
	      </select>
      </label>
		</div>

		<button class="button popover-button button-assertive" ng-mousedown="filter()">
			确认
		</button>			
  </ion-content>
</ion-popover-view>