input[type=range]
{
    width: 100%;
}

ion-tabs.tabs-color-active-assertive .tab-item.tab-item-active, .basketball{
  color: #FF4000;
}

.tabs .tab-item .badge.badge-assertive, .badge.badge-assertive, .button.button-assertive {
  background-color: #FF4000; 
}

.empty-message {
  color: #D8D8D8;
  text-align: center;
  margin-top: 60% !important;
}

.item-select select {
  padding: 0 28px 0 0px !important;
}

.popover .item:last-child
{
  border-bottom: 1px solid #ddd !important;
}

.popover .item:first-child
{
  /*border-top: 1px solid #ddd !important;*/
}

.popover-button 
{
  margin-left: 5%;
  margin-right: 5%;  
  width: 90%;
  margin-top: 1.5em;
}


.margin-top-1em
{
    margin-top: 1em !important;
}

.margin-top-05em
{
    margin-top: 0.5em !important;
}

.larger {
    font-size: 20px;
}

.transparent-nav {
  background: none !important;
  border-bottom: none;
  background-color: #FFF !important;
}

.box {
	width: 100%;
	/*position: absolute;*/
	height: 100%;
	top: 0px;
	visibility: visible;
	left: 0%;
	-webkit-transition: none;
	transition: none;
	transform: translate3d(0px, 0px, 0px);
	display: table;
	text-align: center;
	background-color: black;
	background-repeat: no-repeat;
	background-position: 40% 0%;
}

.boxLoading {
	background-image: url(../images/oval.svg) !important;	
	background-position: 50% 50% !important;
}

image {
	height: 100%;
}

.slide-label {
	display: table-cell;
	vertical-align: middle;
	color: white;
	line-height: 1;
	font-size: 48px;
	font-weight: bold;
}

.slider {
	height: 100%;
}

.box h1 {
	display: table-cell;
	vertical-align: middle;
	color: #FFF;
	line-height: 1;
	font-size: 48px;
	font-weight: bold;
}

.hidden {
    display: none;
}

.ons-page-inner {
    /*
    color: #c8c8c8 !important;
    background-color: #272b30 !important;
    */
}

.list-item-container {
  line-height: 1;
  padding: 15px 0px 15px 15px;
}

.slider-container {
    /*margin: 0 1em 0 1em;*/
}

.button-container {
    width: 2.5em;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.location {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}

.desc {
  line-height: 1.2;
  font-size: 13px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    flex: 1;
}

.color-table div {
    float: left;
    width: 8px;
    height: 8px;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.color-table {
    display: inline-block;
    max-width: 129px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.dropdown-options {
    width: 16em;
}

.dropdown-options .checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
}

.comment-box {
    max-height: 20em;
    text-shadow: none;
}

.navbar-right {
    margin-right: auto;
}

.center {
    position: absolute;
    margin: auto;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#info-sidebar {
    width: 26em;
    position: fixed;
    top: 1em;
    right: 1em;
    bottom: 4em;
    overflow: auto;
    z-index: 1000;
}

#info-sidebar table > tbody > tr:first-child > td:first-child {
    width: 14em;
}

#loader-icon {
    width: 1em;
    height: 1em;
    font-size: 500%;
    cursor: default;
    z-index: 1000;
}

#loader-alert {
    margin: 1em;
}

#user-input {
    width: 10em;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 5em;
    margin: auto;
    z-index: 1000;
}

#viewport {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEXZ2dnv7+8EAphEAAAAEUlEQVQI12P4z8CAFWEX/Q8Afr8P8erzE9cAAAAASUVORK5CYII=');
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 999;
    width: 100%;
    /*height: 92%;*/
}

#gameArea {
    position: absolute;
    left:     50%;
    top:      50%;
}

#toolbar {
    position: absolute;
    width: 100%;
    /*height: 8%;*/
    height: 50px;
    bottom: 0;
    /*opacity: 0.8;*/
}

#toolbar-menu {
    height: 3.5em;
    min-width: 24em;
}

#toolbar-controls .slider {
    width: 16em;
    margin: 0 1em;
}

#toolbar-controls .slider-value {
    width: 4em;
}

a {
    cursor: pointer;
}

.page--shop-details__content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px !important;
  bottom: 0px;
}

.card {
  background-color: white;
  /*background-image: url(../images/2.gif);*/
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 50%;
  width: 100%;
}

.card-toolbar ons-back-button span {
  color: white;
}

.card-name {
  font-weight: 600;
  font-size: 20px;
  padding: 66px 0 8px 0;
  text-align: center;
}

.card-desc {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.9;
  text-align: center;
  line-height: 1.4;
}

.rating {
  text-align: center;
  position: relative;
  height: 0px;
}

.rating-num {
  position: relative;
  top: -24px;
  height: 24px;
  color: white;
  line-height: 24px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  border-radius: 4px 4px 0 0;
  padding: 0 6px;
  background-color: #eb482f;
  color: white;
  width: auto;
  margin: 0 auto 0 auto;
  display: inline-block;
}

.rating-num ons-icon {
  font-size: 11px;
  vertical-align: -0px;
}

.action-col {
  text-align: center;
  opacity: 0.4;
  padding: 10px 0 8px;
}

.action-col:active {
  opacity: 0.7;
}

.action-col ons-button {
  padding: 0;
  line-height: 1;
}

.action-icon {
  padding: 0 0 4px 0;
}

.action-icon ons-icon {
  font-size: 28px;
}

.action-label {
  font-size: 12px;
}

.prop-desc {
  font-size: 14px;
  opacity: 0.7;
}

.prop-desc ons-icon {
  font-size: 14px;
  vertical-align: -0px;
  opacity: 0.5;
}

ons-carousel-item {
  display: table;
  text-align: center;
  background-color: black; 
  background-repeat: no-repeat;
  background-position: 40% 5%;
}

.item-label {
  display: table-cell;
  vertical-align: middle;
  color: white;
  line-height: 1;
  font-size: 48px;
  font-weight: bold;
}

.cover-label {
  text-align: center;
  position: absolute;
  left: 0px;
  width: 100%;
  bottom: 10px;
  color: white;
}

@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ 
    input[type=range]
    {
        width: 13em;
    }
}
@media (min-width:375px) { /* smartphones, iPhone, portrait 480x320 phones */ 
    input[type=range]
    {
        width: 16em;
    }
}
@media (min-width:414px) { /* smartphones, iPhone, portrait 480x320 phones */ 
    input[type=range]
    {
        width: 18em;
    }
}
@media (min-width:568px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    input[type=range]
    {
        width: 23em;
    }
}
@media (min-width:667px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    input[type=range]
    {
        width: 33em;
    }
}
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    input[type=range]
    {
        width: 38em;
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    input[type=range]
    {
        width: 43em;
    }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
    input[type=range]
    {
        width: 58em;
    }
}